USE [master]
GO
/****** Object:  Database [DB_Reporting_JSW_New]    Script Date: 22-06-2026 11:22:31 ******/
CREATE DATABASE [DB_Reporting_JSW_New]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Reporting_JSW_New', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Reporting_JSW_New.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Reporting_JSW_New_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Reporting_JSW_New_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Reporting_JSW_New].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Reporting_JSW_New]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetShiftCEndTime]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[fn_GetShiftCEndTime]()
RETURNS TIME
AS
BEGIN
    DECLARE @EndTime TIME;

    SELECT TOP (1)
        @EndTime = EndHour
    FROM dbo.tbl_Mast_Hour
    WHERE Shift = 'C'
    ORDER BY HourId DESC;

    RETURN @EndTime;
END
GO
/****** Object:  Table [dbo].[tbl_Mast_Cluster]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Cluster](
	[ClusterId] [int] IDENTITY(1,1) NOT NULL,
	[ClusterName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClusterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_Line]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Line](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[ClusterId] [int] NULL,
	[LineName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_Station]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Station](
	[StationId] [int] IDENTITY(1,1) NOT NULL,
	[LineId] [int] NULL,
	[StationName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_SubStation]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_SubStation](
	[SubStationId] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NULL,
	[SubStationName] [varchar](100) NULL,
	[Type] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK__tbl_Mast__D07B66EADC03D84D] PRIMARY KEY CLUSTERED 
(
	[SubStationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_MasterDetails]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_MasterDetails]
AS
SELECT dbo.tbl_Mast_Cluster.ClusterId, dbo.tbl_Mast_Cluster.ClusterName, dbo.tbl_Mast_Line.LineId, dbo.tbl_Mast_Line.LineName, dbo.tbl_Mast_Station.StationId, dbo.tbl_Mast_Station.StationName, dbo.tbl_Mast_SubStation.SubStationId, dbo.tbl_Mast_SubStation.SubStationName
FROM   dbo.tbl_Mast_Cluster INNER JOIN
             dbo.tbl_Mast_Line ON dbo.tbl_Mast_Cluster.ClusterId = dbo.tbl_Mast_Line.ClusterId INNER JOIN
             dbo.tbl_Mast_Station ON dbo.tbl_Mast_Line.LineId = dbo.tbl_Mast_Station.LineId AND dbo.tbl_Mast_Line.LineId = dbo.tbl_Mast_Station.LineId INNER JOIN
             dbo.tbl_Mast_SubStation ON dbo.tbl_Mast_Station.StationId = dbo.tbl_Mast_SubStation.StationId
WHERE (dbo.tbl_Mast_Cluster.IsActive = 1) AND (dbo.tbl_Mast_Line.IsActive = 1) AND (dbo.tbl_Mast_Station.IsActive = 1) AND (dbo.tbl_Mast_SubStation.IsActive = 1) AND (dbo.tbl_Mast_Line.LineId = 1) AND (dbo.tbl_Mast_Station.StationId = 1)
GO
/****** Object:  Table [dbo].[tbl_Mast_AlarmCategory]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_AlarmCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Mast_AlarmCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_AlarmTags]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_AlarmTags](
	[AlarmCode] [int] IDENTITY(1,1) NOT NULL,
	[SubStationId] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[AlarmDescription] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_tbl_Mast_AlarmTags] PRIMARY KEY CLUSTERED 
(
	[AlarmCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_Hour]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Hour](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HourId] [int] NULL,
	[StartHour] [time](7) NULL,
	[EndHour] [time](7) NULL,
	[Shift] [char](1) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Mast_Hour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_NodeConfg]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_NodeConfg](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](200) NULL,
	[Value] [nvarchar](200) NULL,
	[GroupName] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Mast_NodeConfg] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_Robot]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Robot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RobotId] [int] NULL,
	[Gun] [int] NULL,
	[StationId] [int] NOT NULL,
	[Robot_Name] [varchar](100) NOT NULL,
	[Make] [varchar](50) NULL,
	[IP] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK__tbl_Mast__FBB332416C5B4928] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mast_Variant]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mast_Variant](
	[VariantID] [int] IDENTITY(1,1) NOT NULL,
	[VariantCode] [int] NULL,
	[VariantDisc] [nvarchar](100) NULL,
	[SubVariantCode] [int] NULL,
	[SubVariantDisc] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Mast_Variant] PRIMARY KEY CLUSTERED 
(
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_Alarm_FF]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_Alarm_FF](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlarmCode] [nvarchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Duration] [int] NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_tbl_Alarm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_CT_Line]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_CT_Line](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[CycleTime] [int] NULL,
	[Biwno] [int] NULL,
	[VarriantCode] [int] NULL,
	[SubVarraintcode] [int] NULL,
	[TimeStamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_CT_SubStation]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_CT_SubStation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sub_StationID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[CycleTime] [int] NULL,
	[Biwno] [varchar](100) NULL,
	[VarraintCode] [int] NULL,
	[SubVarraintcode] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[Emergency] [int] NULL,
	[Tip_Change] [int] NULL,
	[Tip_Dress] [int] NULL,
	[OperatorLoading_Starving_Time] [int] NULL,
	[Block_Time] [int] NULL,
	[Manual] [int] NULL,
	[Part_Present_Fault] [int] NULL,
	[RollMoveTime] [int] NULL,
	[LifterMoveTime] [int] NULL,
	[TurnTableMoveTime] [int] NULL,
	[ClampTime] [int] NULL,
	[DeclampTime] [int] NULL,
	[Marriage_Miss_Match] [int] NULL,
	[DropTime] [int] NULL,
	[WeldTime] [int] NULL,
	[PickTime] [int] NULL,
	[SealingTime] [int] NULL,
	[Safety_Gate] [int] NULL,
	[Miscellaneous] [int] NULL,
	[MaterialCall] [int] NULL,
	[Others] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_Losses]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_Losses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubStationID] [int] NULL,
	[Shift] [char](1) NULL,
	[Emergency] [int] NULL,
	[Tip_Change] [int] NULL,
	[Tip_Dress] [int] NULL,
	[OperatorLoading_Starving_Time] [int] NULL,
	[Block_Time] [int] NULL,
	[Manual] [int] NULL,
	[Part_Present_Fault] [int] NULL,
	[RollMoveTime] [int] NULL,
	[LifterMoveTime] [int] NULL,
	[TurnTableMoveTime] [int] NULL,
	[ClampTime] [int] NULL,
	[DeclampTime] [int] NULL,
	[Marriage_Miss_Match] [int] NULL,
	[DropTime] [int] NULL,
	[WeldTime] [int] NULL,
	[PickTime] [int] NULL,
	[SealingTime] [int] NULL,
	[Safety_Gate] [int] NULL,
	[Miscellaneous] [int] NULL,
	[MaterialCall] [int] NULL,
	[Others] [int] NULL,
	[NoOfOccurance] [int] NULL,
	[Total] [int] NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_tbl_Tran_Losses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_MTTR_MTBF]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_MTTR_MTBF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubStationID] [int] NULL,
	[Shift] [char](1) NULL,
	[MTTR] [float] NULL,
	[MTBF] [float] NULL,
	[NoOfFailure] [int] NULL,
	[NetAvail_OperTime] [int] NULL,
	[BreakDownTime] [int] NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_tbl_Tran_MTTR_MTBF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_OEE]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_OEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubStationID] [int] NULL,
	[Shift] [char](1) NULL,
	[Availability] [float] NULL,
	[Performance] [float] NULL,
	[Quality] [float] NULL,
	[OEE] [float] NULL,
	[NetAvail_OperTime] [int] NULL,
	[BreakDownTime] [int] NULL,
	[PerformanceLossTime] [int] NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_tbl_tran_OEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tran_Production]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tran_Production](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineID] [int] NULL,
	[HourID] [int] NULL,
	[Target] [int] NULL,
	[JPH_J5_V23] [int] NULL,
	[Actual] [int] NULL,
	[J5_Target] [int] NULL,
	[J5_Actual] [int] NULL,
	[V23_Target] [int] NULL,
	[V23_Actual] [int] NULL,
	[Timestamp] [datetime] NULL,
	[LogDateTime] [datetime] NULL,
 CONSTRAINT [PK_tbl_Production] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Mast_Robot]    Script Date: 22-06-2026 11:22:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Mast_Robot] ON [dbo].[tbl_Mast_Robot]
(
	[RobotId] ASC,
	[Gun] ASC,
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Mast_Cluster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Mast_Cluster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_Hour] ADD  CONSTRAINT [DF_tbl_Mast_Hour_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_Line] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Mast_Line] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_NodeConfg] ADD  CONSTRAINT [DF_tbl_Mast_NodeConfg_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_Robot] ADD  CONSTRAINT [DF__tbl_Mast___IsAct__49C3F6B7]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Mast_Robot] ADD  CONSTRAINT [DF__tbl_Mast___Creat__4AB81AF0]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_Station] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Mast_Station] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Mast_Line]  WITH CHECK ADD FOREIGN KEY([ClusterId])
REFERENCES [dbo].[tbl_Mast_Cluster] ([ClusterId])
GO
ALTER TABLE [dbo].[tbl_Mast_Robot]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Mast_Robot_tbl_Mast_Station] FOREIGN KEY([StationId])
REFERENCES [dbo].[tbl_Mast_Station] ([StationId])
GO
ALTER TABLE [dbo].[tbl_Mast_Robot] CHECK CONSTRAINT [FK_tbl_Mast_Robot_tbl_Mast_Station]
GO
ALTER TABLE [dbo].[tbl_Mast_Station]  WITH CHECK ADD FOREIGN KEY([LineId])
REFERENCES [dbo].[tbl_Mast_Line] ([LineId])
GO
ALTER TABLE [dbo].[tbl_Mast_SubStation]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Mast___Stati__46E78A0C] FOREIGN KEY([StationId])
REFERENCES [dbo].[tbl_Mast_Station] ([StationId])
GO
ALTER TABLE [dbo].[tbl_Mast_SubStation] CHECK CONSTRAINT [FK__tbl_Mast___Stati__46E78A0C]
GO
/****** Object:  StoredProcedure [dbo].[SP_Alarm_Bulk_Alarm_FF]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Alarm_Bulk_Alarm_FF]
    @Json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

	begin try
	begin tran
	
	DECLARE @AlarmData TABLE (
    AlarmCode NVARCHAR(50),
    Action NVARCHAR(20),
    [Timestamp] DATETIME
);

INSERT INTO @AlarmData
SELECT
    AlarmCode,
    Action,
    CAST([Timestamp] AS DATETIME)
FROM OPENJSON(@Json)
WITH (
    AlarmCode NVARCHAR(50) '$.AlarmCode',
    Action NVARCHAR(20) '$.Action',
    [Timestamp] DATETIMEOFFSET '$.Timestamp'
);



----------------Insert
INSERT INTO tbl_Tran_Alarm_FF (AlarmCode, StartTime, EndTime, Duration, [Timestamp])
SELECT
    D.AlarmCode,
    D.[Timestamp],
    NULL,
    NULL,
    D.[Timestamp]
FROM @AlarmData D
LEFT JOIN tbl_Tran_Alarm_FF A
    ON A.AlarmCode = D.AlarmCode AND A.EndTime IS NULL
WHERE D.Action = 'HIGH'
AND A.AlarmCode IS NULL;

----------------update

UPDATE A
SET
    A.EndTime = D.[Timestamp],
    A.Duration = DATEDIFF(SECOND, A.StartTime, D.[Timestamp]),
    A.[Timestamp] = D.[Timestamp]
FROM tbl_Tran_Alarm_FF A
INNER JOIN @AlarmData D
    ON A.AlarmCode = D.AlarmCode
WHERE D.Action = 'LOW'
AND A.EndTime IS NULL;



	commit tran

end try

begin catch
 IF @@TRANCOUNT > 0
        ROLLBACK TRAN;
 --PRINT ERROR_MESSAGE();
end catch









END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAlarmMappings]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAlarmMappings]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AlarmCode,
        Address
    FROM tbl_Mast_AlarmTags;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNodeIdConfig]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetNodeIdConfig]
(
    @PlcNo INT,
    @GroupName VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActualGroupName VARCHAR(100);

    IF @GroupName = 'Production'
        SET @ActualGroupName = 'Production';
    ELSE
        SET @ActualGroupName =
            'PLC' + CAST(@PlcNo AS VARCHAR(10))
            + '_' +
            @GroupName;

    SELECT
        [Key],
        [Value]
    FROM tbl_Mast_NodeConfg
    WHERE GroupName = @ActualGroupName
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_CT_Line]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Insert_CT_Line]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN

    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF ISJSON(@Json) <> 1
        THROW 50001, 'Invalid JSON supplied.', 1;

    BEGIN TRY

        BEGIN TRAN;

        INSERT INTO dbo.tbl_Tran_CT_Line
        (
            LineID,
            StartTime,
            EndTime,
            CycleTime,
            Biwno,
            VarriantCode,
            SubVarraintcode,
            TimeStamp
        )
        SELECT
            LineID,
            StartTime,
            EndTime,
            CycleTime,
            Biwno,
            VarriantCode,
            SubVarraintcode,
            TimeStamp
        FROM OPENJSON(@Json)
        WITH
        (
            LineID INT,
            StartTime DATETIME,
            EndTime DATETIME,
            CycleTime INT,
            Biwno varchar(100),
            VarriantCode INT,
            SubVarraintcode INT,
            TimeStamp DATETIME
        );

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_CT_SubStation]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_CT_SubStation]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN

    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF ISJSON(@Json) <> 1
        THROW 50001, 'Invalid JSON supplied.', 1;

    BEGIN TRY

        BEGIN TRAN;

        INSERT INTO dbo.tbl_Tran_CT_SubStation
        (
            Sub_StationID,
            StartTime,
            EndTime,
            CycleTime,
            Biwno,
            VarraintCode,
            SubVarraintcode,
            TimeStamp,
            Emergency,
            Tip_Change,
            Tip_Dress,
            OperatorLoading_Starving_Time,
            Block_Time,
            Manual,
            Part_Present_Fault,
            RollMoveTime,
            LifterMoveTime,
            TurnTableMoveTime,
            ClampTime,
            DeclampTime,
            Marriage_Miss_Match,
            DropTime,
            WeldTime,
            PickTime,
            SealingTime,
            Safety_Gate,
            Miscellaneous,
            MaterialCall,
            Others
        )
        SELECT
            Sub_StationID,
            StartTime,
            EndTime,
            CycleTime,
            Biwno,
            VarraintCode,
            SubVarraintcode,
            TimeStamp,
            Emergency,
            Tip_Change,
            Tip_Dress,
            OperatorLoading_Starving_Time,
            Block_Time,
            Manual,
            Part_Present_Fault,
            RollMoveTime,
            LifterMoveTime,
            TurnTableMoveTime,
            ClampTime,
            DeclampTime,
            Marriage_Miss_Match,
            DropTime,
            WeldTime,
            PickTime,
            SealingTime,
            Safety_Gate,
            Miscellaneous,
            MaterialCall,
            Others
        FROM OPENJSON(@Json)
        WITH
        (
            Sub_StationID INT,
            StartTime DATETIME,
            EndTime DATETIME,
            CycleTime INT,
            Biwno VARCHAR(100),
            VarraintCode INT,
            SubVarraintcode INT,
            TimeStamp DATETIME,
            Emergency INT,
            Tip_Change INT,
            Tip_Dress INT,
            OperatorLoading_Starving_Time INT,
            Block_Time INT,
            Manual INT,
            Part_Present_Fault INT,
            RollMoveTime INT,
            LifterMoveTime INT,
            TurnTableMoveTime INT,
            ClampTime INT,
            DeclampTime INT,
            Marriage_Miss_Match INT,
            DropTime INT,
            WeldTime INT,
            PickTime INT,
            SealingTime INT,
            Safety_Gate INT,
            Miscellaneous INT,
            MaterialCall INT,
            Others INT
        );

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_CT_SubStation_old]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Insert_CT_SubStation_old]
	-- Add the parameters for the stored procedure here
	@Json NVARCHAR(MAX)
AS
BEGIN
	
	begin try
	begin tran
	
	  ;WITH SubStaCTData AS (
        SELECT 
           [Sub_StationID]
      ,[StartTime]
      ,[EndTime]
      ,[CycleTime]
      ,[Biwno]
      ,[VarraintCode]
      ,[SubVarraintcode]
      ,[TimeStamp]
      ,[Emergency]
      ,[Tip_Change]
      ,[Tip_Dress]
      ,[OperatorLoading_Starving_Time]
      ,[Block_Time]
      ,[Manual]
      ,[Part_Present_Fault]
      ,[RollMoveTime]
      ,[LifterMoveTime]
      ,[TurnTableMoveTime]
      ,[ClampTime]
      ,[DeclampTime]
      ,[Marriage_Miss_Match]
      ,[DropTime]
      ,[WeldTime]
      ,[PickTime]
      ,[SealingTime]
      ,[Safety_Gate]
      ,[Miscellaneous]
      ,[MaterialCall]
      ,[Others]
		
        FROM OPENJSON(@Json)
        WITH (
            
       [Sub_StationID] int '$.Sub_StationID'
      ,[StartTime] datetime '$.StartTime'
      ,[EndTime] datetime '$.EndTime'
      ,[CycleTime] int '$.CycleTime'
      ,[Biwno] varchar(100) '$.Biwno'
      ,[VarraintCode] int '$.VarraintCode'
      ,[SubVarraintcode] int '$.SubVarraintcode'
      ,[TimeStamp]  datetime '$.TimeStamp'
      ,[Emergency] int '$.Emergency'
      ,[Tip_Change] int '$.Tip_Change'
      ,[Tip_Dress]  int '$.Tip_Dress'
      ,[OperatorLoading_Starving_Time]  int '$.OperatorLoading_Starving_Time'
      ,[Block_Time]  int '$.Block_Time'
      ,[Manual] int '$.Manual'
      ,[Part_Present_Fault] int '$.Part_Present_Fault'
      ,[RollMoveTime] int '$.RollMoveTime'
      ,[LifterMoveTime] int '$.LifterMoveTime'
      ,[TurnTableMoveTime]  int '$.TurnTableMoveTime'
      ,[ClampTime] int '$.ClampTime'
      ,[DeclampTime] int '$.DeclampTime'
      ,[Marriage_Miss_Match]  int '$.Marriage_Miss_Match'
      ,[DropTime]  int '$.DropTime'
      ,[WeldTime] int '$.WeldTime'
      ,[PickTime] int '$.PickTime'
      ,[SealingTime] int '$.SealingTime'
      ,[Safety_Gate] int '$.Safety_Gate'
      ,[Miscellaneous] int '$.Miscellaneous'
      ,[MaterialCall]  int '$.MaterialCall'
      ,[Others] int '$.Others'
        )
    )
    -- Process alarms
  
        -- Insert new alarms (Rising Edge → StartTime set, EndTime NULL)
        INSERT INTO tbl_Tran_CT_SubStation --(AlarmCode, StartTime, EndTime, Duration, [Timestamp])
        SELECT * FROM SubStaCTData 
        -- Update cleared alarms (Falling Edge → EndTime set, Duration calculated)

	
	commit tran

end try 

begin catch
 IF @@TRANCOUNT > 0
        ROLLBACK TRAN;
 PRINT ERROR_MESSAGE();
end catch

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_Production]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_Production]
--exec [dbo].[SP_Insert_Production] '[{"LineID":1,"HourID":1,"Target":140,"Actual":94,"J5_Target":83,"J5_Actual":49,"V23_Target":59,"V23_Actual":45,"Timestamp":"2026-06-08T06:32:00","LogDateTime":"2026-06-08T06:32:00"},{"LineID":1,"HourID":2,"Target":135,"Actual":107,"J5_Target":82,"J5_Actual":59,"V23_Target":55,"V23_Actual":48,"Timestamp":"2026-06-08T07:32:00","LogDateTime":"2026-06-08T07:32:00"}]'
(
    @JsonData NVARCHAR(MAX)
    --@Timestamp DATETIME
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Convert UTC → IST
    --SET @Timestamp = DATEADD(MINUTE, 330, @Timestamp);

    -- Parse JSON into table variable
    DECLARE @Data TABLE
    (
	[LineID] int
	,[HourID] int
	,[JPH_J5_V23] int
	,[Target] int
	,[Actual] int
	,[J5_Target] int
	,[J5_Actual] int
	,[V23_Target] int
	,[V23_Actual] int
	,[Timestamp] datetime
    );

    INSERT INTO @Data ([LineID] 	,[HourID] 	,[JPH_J5_V23],[Target] 	,[Actual] 	,[J5_Target] 	,[J5_Actual] 	,[V23_Target] 	,[V23_Actual] 	,[Timestamp] )
    SELECT
       j.[LineID]
	,j.[HourID]
	,j.[JPH_J5_V23]
	,j.[Target]
	,j.[Actual]
	,j.[J5_Target]
	,j.[J5_Actual]
	,j.[V23_Target]
	,j.[V23_Actual]
	,j.[Timestamp]
		
    FROM OPENJSON(@JsonData)
    WITH
    (
       [LineID] int
	,[HourID] int
	,[JPH_J5_V23] int
	,[Target] int
	,[Actual] int
	,[J5_Target] int
	,[J5_Actual] int
	,[V23_Target] int
	,[V23_Actual] int
	,[Timestamp] datetime
    ) j
    WHERE j.[Actual] <> 0;   -- :no_entry_sign: ignore zero values
    --------------------------------------------------

    -- UPDATE existing records
    UPDATE prod
    SET
prod.[JPH_J5_V23] = src.[JPH_J5_V23],
        prod.[Target] = src.[Target],
        prod.[Actual] = src.[Actual],

		 prod.[J5_Target] = src.[J5_Target],
        prod.[J5_Actual] = src.[J5_Target],

		 prod.[V23_Target] = src.[V23_Target],
        prod.[V23_Actual] = src.[V23_Actual],

		prod.[Timestamp] = src.[Timestamp]

    FROM tbl_Tran_Production prod
    JOIN @Data src
        ON prod.LineID = src.LineID
		and prod.HourID=src.HourID
       AND CAST(prod.[Timestamp] AS DATE) = CAST(src.[timestamp] AS DATE);

    -- INSERT new records
    INSERT INTO [dbo].[tbl_Tran_Production] ([LineID] 	,[HourID] 	,[JPH_J5_V23],[Target] 	,[Actual] 	,[J5_Target] 	,[J5_Actual] 	,[V23_Target] 	,[V23_Actual] 	,[Timestamp])
    SELECT
        src.[LineID],
        src.[HourID],
src.[JPH_J5_V23],
        src.[Target],
		 src.[Actual],
        src.[J5_Target],
        src.[J5_Actual],

		 src.[V23_Target],
        src.[V23_Actual],
		src.[Timestamp]
    FROM @Data src
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM [dbo].[tbl_Tran_Production] tgt
        WHERE tgt.LineID = src.LineID
		and tgt.HourID = src.HourID
          AND CAST(tgt.[Timestamp] AS DATE) = CAST(src.[Timestamp] AS DATE)
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdate_Losses]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertUpdate_Losses]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ShiftCEndTime TIME = dbo.fn_GetShiftCEndTime();

    IF @ShiftCEndTime IS NULL
    BEGIN
        THROW 50001, 'Shift C end time is not configured in tbl_Mast_Hour.', 1;
    END

    BEGIN TRY
        BEGIN TRAN;

        MERGE dbo.tbl_Tran_Losses AS T
        USING
        (
            SELECT
                SubStationID,
                Shift,
                Emergency,
                Tip_Change,
                Tip_Dress,
                OperatorLoading_Starving_Time,
                Block_Time,
                Manual,
                Part_Present_Fault,
                RollMoveTime,
                LifterMoveTime,
                TurnTableMoveTime,
                ClampTime,
                DeclampTime,
                Marriage_Miss_Match,
                DropTime,
                WeldTime,
                PickTime,
                SealingTime,
                Safety_Gate,
                Miscellaneous,
                MaterialCall,
                Others,
                NoOfOccurance,
                Total,
                [Timestamp]
            FROM OPENJSON(@Json)
            WITH
            (
                SubStationID                    INT,
                Shift                           CHAR(1),
                Emergency                       INT,
                Tip_Change                      INT,
                Tip_Dress                       INT,
                OperatorLoading_Starving_Time   INT,
                Block_Time                      INT,
                Manual                          INT,
                Part_Present_Fault              INT,
                RollMoveTime                    INT,
                LifterMoveTime                  INT,
                TurnTableMoveTime               INT,
                ClampTime                       INT,
                DeclampTime                     INT,
                Marriage_Miss_Match             INT,
                DropTime                        INT,
                WeldTime                        INT,
                PickTime                        INT,
                SealingTime                     INT,
                Safety_Gate                     INT,
                Miscellaneous                   INT,
                MaterialCall                    INT,
                Others                          INT,
                NoOfOccurance                   INT,
                Total                           INT,
                [Timestamp]                     DATETIME
            )
        ) AS S
        ON  T.SubStationID = S.SubStationID
        AND T.Shift = S.Shift
        AND
        (
            CASE
                WHEN T.Shift = 'C'
                     AND CAST(T.[Timestamp] AS TIME) < @ShiftCEndTime
                THEN DATEADD(DAY,-1,CAST(T.[Timestamp] AS DATE))
                ELSE CAST(T.[Timestamp] AS DATE)
            END
        )
        =
        (
            CASE
                WHEN S.Shift = 'C'
                     AND CAST(S.[Timestamp] AS TIME) < @ShiftCEndTime
                THEN DATEADD(DAY,-1,CAST(S.[Timestamp] AS DATE))
                ELSE CAST(S.[Timestamp] AS DATE)
            END
        )

        WHEN MATCHED THEN
            UPDATE SET
                T.Emergency                     = S.Emergency,
                T.Tip_Change                    = S.Tip_Change,
                T.Tip_Dress                     = S.Tip_Dress,
                T.OperatorLoading_Starving_Time = S.OperatorLoading_Starving_Time,
                T.Block_Time                    = S.Block_Time,
                T.Manual                        = S.Manual,
                T.Part_Present_Fault            = S.Part_Present_Fault,
                T.RollMoveTime                  = S.RollMoveTime,
                T.LifterMoveTime                = S.LifterMoveTime,
                T.TurnTableMoveTime             = S.TurnTableMoveTime,
                T.ClampTime                     = S.ClampTime,
                T.DeclampTime                   = S.DeclampTime,
                T.Marriage_Miss_Match           = S.Marriage_Miss_Match,
                T.DropTime                      = S.DropTime,
                T.WeldTime                      = S.WeldTime,
                T.PickTime                      = S.PickTime,
                T.SealingTime                   = S.SealingTime,
                T.Safety_Gate                   = S.Safety_Gate,
                T.Miscellaneous                 = S.Miscellaneous,
                T.MaterialCall                  = S.MaterialCall,
                T.Others                        = S.Others,
                T.NoOfOccurance                 = S.NoOfOccurance,
                T.Total                         = S.Total,
                T.[Timestamp]                   = S.[Timestamp]

        WHEN NOT MATCHED THEN
            INSERT
            (
                SubStationID,
                Shift,
                Emergency,
                Tip_Change,
                Tip_Dress,
                OperatorLoading_Starving_Time,
                Block_Time,
                Manual,
                Part_Present_Fault,
                RollMoveTime,
                LifterMoveTime,
                TurnTableMoveTime,
                ClampTime,
                DeclampTime,
                Marriage_Miss_Match,
                DropTime,
                WeldTime,
                PickTime,
                SealingTime,
                Safety_Gate,
                Miscellaneous,
                MaterialCall,
                Others,
                NoOfOccurance,
                Total,
                [Timestamp]
            )
            VALUES
            (
                S.SubStationID,
                S.Shift,
                S.Emergency,
                S.Tip_Change,
                S.Tip_Dress,
                S.OperatorLoading_Starving_Time,
                S.Block_Time,
                S.Manual,
                S.Part_Present_Fault,
                S.RollMoveTime,
                S.LifterMoveTime,
                S.TurnTableMoveTime,
                S.ClampTime,
                S.DeclampTime,
                S.Marriage_Miss_Match,
                S.DropTime,
                S.WeldTime,
                S.PickTime,
                S.SealingTime,
                S.Safety_Gate,
                S.Miscellaneous,
                S.MaterialCall,
                S.Others,
                S.NoOfOccurance,
                S.Total,
                S.[Timestamp]
            );

        COMMIT TRAN;

        SELECT
            1 AS Status,
            'Success' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdate_MTTR_MTBF]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertUpdate_MTTR_MTBF]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF dbo.fn_GetShiftCEndTime() IS NULL
    BEGIN
        THROW 50001, 'Shift C end time is not configured in tbl_Mast_Hour.', 1;
    END

    BEGIN TRY
        BEGIN TRAN;

        MERGE dbo.tbl_Tran_MTTR_MTBF AS T
        USING
        (
            SELECT
                SubStationID,
                Shift,
                MTTR,
                MTBF,
                NoOfFailure,
                NetAvail_OperTime,
                BreakDownTime,
                [Timestamp]
            FROM OPENJSON(@Json)
            WITH
            (
                SubStationID       INT,
                Shift              char(1),
                MTTR               DECIMAL(18,2),
                MTBF               DECIMAL(18,2),
                NoOfFailure        INT,
                NetAvail_OperTime  INT,
                BreakDownTime      INT,
                [Timestamp]        DATETIME
            )
        ) AS S
        ON  T.SubStationID = S.SubStationID
        AND T.Shift = S.Shift
        AND
        (
            CASE
                WHEN T.Shift = 'C'
                     AND CAST(T.[Timestamp] AS TIME) < dbo.fn_GetShiftCEndTime()
                THEN DATEADD(DAY,-1,CAST(T.[Timestamp] AS DATE))
                ELSE CAST(T.[Timestamp] AS DATE)
            END
        )
        =
        (
            CASE
                WHEN S.Shift = 'C'
                     AND CAST(S.[Timestamp] AS TIME) < dbo.fn_GetShiftCEndTime()
                THEN DATEADD(DAY,-1,CAST(S.[Timestamp] AS DATE))
                ELSE CAST(S.[Timestamp] AS DATE)
            END
        )

        WHEN MATCHED THEN
            UPDATE SET
                T.MTTR              = S.MTTR,
                T.MTBF              = S.MTBF,
                T.NoOfFailure       = S.NoOfFailure,
                T.NetAvail_OperTime = S.NetAvail_OperTime,
                T.BreakDownTime     = S.BreakDownTime,
                T.[Timestamp]       = S.[Timestamp]

        WHEN NOT MATCHED THEN
            INSERT
            (
                SubStationID,
                Shift,
                MTTR,
                MTBF,
                NoOfFailure,
                NetAvail_OperTime,
                BreakDownTime,
                [Timestamp]
            )
            VALUES
            (
                S.SubStationID,
                S.Shift,
                S.MTTR,
                S.MTBF,
                S.NoOfFailure,
                S.NetAvail_OperTime,
                S.BreakDownTime,
                S.[Timestamp]
            );

        COMMIT TRAN;

        SELECT
            1 AS Status,
            'Success' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdate_OEE]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_InsertUpdate_OEE]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

	 IF dbo.fn_GetShiftCEndTime() IS NULL
	BEGIN
		THROW 50001, 'Shift C end time is not configured in tbl_Mast_Hour.', 1;
	END

    BEGIN TRY
        BEGIN TRAN;

        MERGE dbo.tbl_Tran_OEE AS T
        USING
        (
            SELECT
                SubStationID,
                Shift,
                Availability,
                Performance,
                Quality,
                OEE,
                NetAvail_OperTime,
                BreakDownTime,
                PerformanceLossTime,
                [Timestamp]
            FROM OPENJSON(@Json)
            WITH
            (
                SubStationID           INT,
                Shift                  VARCHAR(10),
                Availability           DECIMAL(18,2),
                Performance            DECIMAL(18,2),
                Quality                DECIMAL(18,2),
                OEE                    DECIMAL(18,2),
                NetAvail_OperTime      INT,
                BreakDownTime          INT,
                PerformanceLossTime    INT,
                [Timestamp]            DATETIME
            )
        ) AS S
        ON  T.SubStationID = S.SubStationID
        AND T.Shift = S.Shift
       --AND CAST(T.[Timestamp] AS DATE) = CAST(S.[Timestamp] AS DATE)
	   AND
(
    CASE
        WHEN T.Shift = 'C'
             AND CAST(T.[Timestamp] AS TIME) < dbo.fn_GetShiftCEndTime()
        THEN DATEADD(DAY,-1,CAST(T.[Timestamp] AS DATE))
        ELSE CAST(T.[Timestamp] AS DATE)
    END
)
=
(
    CASE
        WHEN S.Shift = 'C'
             AND CAST(S.[Timestamp] AS TIME) < dbo.fn_GetShiftCEndTime()
        THEN DATEADD(DAY,-1,CAST(S.[Timestamp] AS DATE))
        ELSE CAST(S.[Timestamp] AS DATE)
    END
)

        WHEN MATCHED THEN
            UPDATE SET
                T.Availability        = S.Availability,
                T.Performance         = S.Performance,
                T.Quality             = S.Quality,
                T.OEE                 = S.OEE,
                T.NetAvail_OperTime   = S.NetAvail_OperTime,
                T.BreakDownTime       = S.BreakDownTime,
                T.PerformanceLossTime = S.PerformanceLossTime,
                T.[Timestamp]         = S.[Timestamp]

        WHEN NOT MATCHED THEN
            INSERT
            (
                SubStationID,
                Shift,
                Availability,
                Performance,
                Quality,
                OEE,
                NetAvail_OperTime,
                BreakDownTime,
                PerformanceLossTime,
                [Timestamp]
            )
            VALUES
            (
                S.SubStationID,
                S.Shift,
                S.Availability,
                S.Performance,
                S.Quality,
                S.OEE,
                S.NetAvail_OperTime,
                S.BreakDownTime,
                S.PerformanceLossTime,
                S.[Timestamp]
            );

        COMMIT TRAN;

        SELECT 1 AS Status,
               'Success' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        SELECT 0 AS Status,
               ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Sync_AlarmToServer]    Script Date: 22-06-2026 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Sync_AlarmToServer]
(
    @BatchSize INT = 1000
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Moved      INT      = 0;
    DECLARE @Deleted    INT      = 0;
    DECLARE @StartTime  DATETIME = GETDATE();

    BEGIN TRY

        IF @BatchSize IS NULL OR @BatchSize <= 0
            SET @BatchSize = 1000;

        -- =========================================================
        -- STEP 1 — Freeze batch
        -- =========================================================
        CREATE TABLE #Batch (Id INT PRIMARY KEY);

        INSERT INTO #Batch (Id)
        SELECT TOP (@BatchSize) Id
        FROM [dbo].[tbl_Tran_Alarm_FF]
        WHERE EndTime IS NOT NULL
        ORDER BY Id ASC;

        IF NOT EXISTS (SELECT 1 FROM #Batch)
        BEGIN
            DROP TABLE #Batch;
            RETURN 0;
        END

        -- =========================================================
        -- STEP 2 — Insert to remote (no local transaction —
        --          linked server doesn't support it without MSDTC)
        -- =========================================================
        INSERT INTO [DESKTOP-3I2E5NT].[DB_Reporting_JSW_LatestOne].[dbo].[tbl_Tran_Alarm_FF_History]
        (
            LocalId, AlarmCode, StartTime, EndTime, Duration, Timestamp
        )
        SELECT
            L.Id, L.AlarmCode, L.StartTime, L.EndTime, L.Duration, L.Timestamp
        FROM [dbo].[tbl_Tran_Alarm_FF] L
        INNER JOIN #Batch B ON B.Id = L.Id
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM [DESKTOP-3I2E5NT].[DB_Reporting_JSW_LatestOne].[dbo].[tbl_Tran_Alarm_FF_History] S
            WHERE S.LocalId = L.Id
        );

        SET @Moved = @@ROWCOUNT;

        -- =========================================================
        -- STEP 3 — Delete ONLY rows confirmed present in remote history
        -- =========================================================
        DELETE L
        FROM [dbo].[tbl_Tran_Alarm_FF] L
        INNER JOIN #Batch B ON B.Id = L.Id
        WHERE EXISTS
        (
            SELECT 1
            FROM [DESKTOP-3I2E5NT].[DB_Reporting_JSW_LatestOne].[dbo].[tbl_Tran_Alarm_FF_History] S
            WHERE S.LocalId = L.Id
        );

        SET @Deleted = @@ROWCOUNT;

        DROP TABLE #Batch;





        RETURN @Moved;

    END TRY
    BEGIN CATCH

        IF OBJECT_ID('tempdb..#Batch') IS NOT NULL
            DROP TABLE #Batch;

        THROW;
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_Mast_Cluster"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_Mast_Line"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 558
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_Mast_Station"
            Begin Extent = 
               Top = 9
               Left = 615
               Bottom = 206
               Right = 837
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_Mast_SubStation"
            Begin Extent = 
               Top = 9
               Left = 894
               Bottom = 206
               Right = 1132
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_MasterDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_MasterDetails'
GO
USE [master]
GO
